In [1]:
# combines our virtual data and real data together using pandas library 
import pandas as pd
# read FIFA players ratings in
fifa_data21 = pd.read_csv('Virtual_data/player_ratings21.csv') 
fifa_data20 = pd.read_csv('Virtual_data/player_ratings20.csv') 
fifa_data19 = pd.read_csv('Virtual_data/player_ratings19.csv') 
fifa_data18 = pd.read_csv('Virtual_data/player_ratings18.csv') 
fifa_data17 = pd.read_csv('Virtual_data/player_ratings17.csv') 
fifa_data16 = pd.read_csv('Virtual_data/player_ratings16.csv') 
fifa_data15 = pd.read_csv('Virtual_data/player_ratings15.csv') 
# read results data in
results_data = pd.read_csv('Real_data/results_data.csv') 
# splits the seasons down into individual seasons
def season_data(results_data,season):
    season_data = (results_data['Season'])
    seasons = results_data[(results_data['Season'] == season)]
    return seasons
# call seasons function
season_14_15 = season_data(results_data,'2014/15')
season_15_16 = season_data(results_data,'2015/16')
season_16_17 = season_data(results_data,'2016/17')
season_17_18 = season_data(results_data,'2017/18')
season_18_19 = season_data(results_data,'2018/19')
season_19_20 = season_data(results_data,'2019/20')
season_20_21 = season_data(results_data,'2020/21')

# use the pd merge function to join the season data together with virtual data
fifa_season_14_15 = pd.merge(season_14_15, fifa_data15, left_on='HomeTeam', right_on='Team', how='left')

fifa_season_15_16 = pd.merge(season_15_16, fifa_data16, left_on='HomeTeam', right_on='Team', how='left')

fifa_season_16_17 = pd.merge(season_16_17, fifa_data17, left_on='HomeTeam', right_on='Team', how='left')

fifa_season_17_18 = pd.merge(season_17_18, fifa_data18, left_on='HomeTeam', right_on='Team', how='left')

fifa_season_18_19 = pd.merge(season_18_19, fifa_data19, left_on='HomeTeam', right_on='Team', how='left')

fifa_season_19_20 = pd.merge(season_19_20, fifa_data20, left_on='HomeTeam', right_on='Team', how='left')

fifa_season_20_21 = pd.merge(season_20_21, fifa_data21, left_on='HomeTeam', right_on='Team', how='left')

final_dataset_home = pd.concat([fifa_season_14_15,fifa_season_15_16,fifa_season_16_17,fifa_season_17_18,fifa_season_18_19,fifa_season_19_20,fifa_season_20_21])

final_dataset_home = final_dataset_home.drop(['Team','Unnamed: 0', 'HTR'], axis=1)


final_dataset_home.rename(columns = {'Total_Rating':'HTR', 'team_potential':'HTP',
                                   'team_wage':'HTW','team_value':'HTV','Goalkeeper':' HGKR',
                               'Defence': 'HDefR','Midfield': 'HMidR','Attack': 'HAttR'}, inplace = True) 


final_dataset_home

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,Referee,...,IWA,Season,HTR,HGKR,HDefR,HMidR,HAttR,HTP,HTW,HTV
0,E0,16/08/2014,Arsenal,Crystal Palace,2,1,H,1,1,J Moss,...,9.00,2014/15,79.347826,78.500000,78.166667,79.833333,80.333333,82.000000,101521.73910,1.045652e+07
1,E0,16/08/2014,Leicester,Everton,2,2,D,1,2,M Jones,...,2.30,2014/15,69.391304,65.666667,69.500000,70.250000,70.250000,72.608696,16043.47826,1.227391e+06
2,E0,16/08/2014,Man United,Swansea,1,2,A,0,1,M Dean,...,8.00,2014/15,78.304348,80.000000,75.571429,77.272727,87.333333,82.347826,110608.69570,1.317196e+07
3,E0,16/08/2014,QPR,Hull,0,1,A,0,0,C Pawson,...,2.90,2014/15,74.217391,75.000000,75.000000,73.846154,74.000000,76.608696,36739.13043,3.221739e+06
4,E0,16/08/2014,Stoke,Aston Villa,0,1,A,0,0,A Taylor,...,3.60,2014/15,74.347826,76.500000,73.375000,74.000000,76.666667,75.826087,41086.95652,3.898913e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,E0,14/03/2021,Southampton,Brighton,1,2,A,1,1,S Attwell,...,2.60,2020/21,73.913043,75.666667,74.000000,74.714286,71.600000,78.739130,37434.78261,7.191304e+06
282,E0,14/03/2021,Leicester,Sheffield United,5,0,H,1,0,P Bankes,...,6.50,2020/21,77.347826,79.000000,75.142857,77.700000,79.500000,80.739130,69565.21739,1.353913e+07
283,E0,14/03/2021,Arsenal,Tottenham,2,1,H,1,1,M Oliver,...,2.80,2020/21,77.913043,75.000000,77.400000,77.857143,80.750000,82.304348,71043.47826,1.486196e+07
284,E0,14/03/2021,Man United,West Ham,1,0,H,0,0,M Atkinson,...,4.30,2020/21,80.260870,83.000000,79.000000,80.500000,80.500000,83.782609,107434.78260,2.204348e+07
285,E0,15/03/2021,Wolves,Liverpool,0,1,A,0,1,C Pawson,...,1.75,2020/21,74.043478,77.000000,72.833333,73.250000,76.400000,79.869565,54478.26087,9.577174e+06

In [2]:
# use the pd merge function to join the season data together with virtual data

fifa_season_14_15 = pd.merge(season_14_15, fifa_data15, left_on='AwayTeam', right_on='Team', how='left')

fifa_season_15_16 = pd.merge(season_15_16, fifa_data16, left_on='AwayTeam', right_on='Team', how='left')

fifa_season_16_17 = pd.merge(season_16_17, fifa_data17, left_on='AwayTeam', right_on='Team', how='left')

fifa_season_17_18 = pd.merge(season_17_18, fifa_data18, left_on='AwayTeam', right_on='Team', how='left')

fifa_season_18_19 = pd.merge(season_18_19, fifa_data19, left_on='AwayTeam', right_on='Team', how='left')

fifa_season_19_20 = pd.merge(season_19_20, fifa_data20, left_on='AwayTeam', right_on='Team', how='left')

fifa_season_20_21 = pd.merge(season_20_21, fifa_data21, left_on='AwayTeam', right_on='Team', how='left')

final_dataset_away = pd.concat([fifa_season_14_15,fifa_season_15_16,fifa_season_16_17,fifa_season_17_18,fifa_season_18_19,fifa_season_19_20,fifa_season_20_21])


final_dataset_away.rename(columns = {'Total_Rating':'ATR', 'team_potential':'ATP',
                                   'team_wage':'ATW','team_value':'ATV','Goalkeeper': 'AGKR',
                               'Defence': 'ADefR','Midfield': 'AMidR','Attack': 'AAttR'}, inplace = True)

final_dataset_away = final_dataset_away.drop(['Team','Unnamed: 0'], axis=1)
final_dataset_away

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,IWA,Season,ATR,AGKR,ADefR,AMidR,AAttR,ATP,ATW,ATV
0,E0,16/08/2014,Arsenal,Crystal Palace,2,1,H,1,1,D,...,9.00,2014/15,72.173913,73.5,71.714286,72.500000,71.500000,74.565217,26739.13043,2.166304e+06
1,E0,16/08/2014,Leicester,Everton,2,2,D,1,2,A,...,2.30,2014/15,76.782609,76.0,75.428571,77.444444,77.800000,79.478261,49565.21739,5.538043e+06
2,E0,16/08/2014,Man United,Swansea,1,2,A,0,1,A,...,8.00,2014/15,72.782609,74.0,71.222222,74.000000,73.400000,75.826087,31739.13043,3.290217e+06
3,E0,16/08/2014,QPR,Hull,0,1,A,0,0,D,...,2.90,2014/15,72.347826,71.0,72.285714,72.900000,71.750000,74.869565,30434.78261,2.581304e+06
4,E0,16/08/2014,Stoke,Aston Villa,0,1,A,0,0,D,...,3.60,2014/15,73.478261,76.0,72.555556,73.142857,74.600000,76.347826,35434.78261,3.201087e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,E0,14/03/2021,Southampton,Brighton,1,2,A,1,1,D,...,2.60,2020/21,74.130435,73.5,74.285714,74.272727,73.666667,78.130435,40608.69565,7.010870e+06
282,E0,14/03/2021,Leicester,Sheffield United,5,0,H,1,0,H,...,6.50,2020/21,73.739130,71.0,73.500000,77.250000,72.600000,77.130435,25521.73913,6.139130e+06
283,E0,14/03/2021,Arsenal,Tottenham,2,1,H,1,1,D,...,2.80,2020/21,80.956522,81.0,80.000000,80.750000,85.500000,83.869565,97391.30435,2.293478e+07
284,E0,14/03/2021,Man United,West Ham,1,0,H,0,0,D,...,4.30,2020/21,76.217391,78.0,73.375000,77.363636,79.500000,79.304348,34782.60870,9.440217e+06
285,E0,15/03/2021,Wolves,Liverpool,0,1,A,0,1,A,...,1.75,2020/21,82.086957,83.0,81.857143,83.285714,80.857143,85.521739,120739.13040,3.407826e+07

In [3]:
# join the away team data with the home team data
final_dataset_home['ATR'] = final_dataset_away['ATR'] 
final_dataset_home['AGKR'] = final_dataset_away['AGKR'] 
final_dataset_home['ADefR'] = final_dataset_away['ADefR'] 
final_dataset_home['AMidR'] = final_dataset_away['AMidR'] 
final_dataset_home['AAttR'] = final_dataset_away['AAttR'] 
final_dataset_home['ATV'] = final_dataset_away['ATV'] 
final_dataset_home['ATP'] = final_dataset_away['ATP'] 
final_dataset_home['ATW'] = final_dataset_away['ATW'] 

final_dataset_home

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,Referee,...,HTW,HTV,ATR,AGKR,ADefR,AMidR,AAttR,ATV,ATP,ATW
0,E0,16/08/2014,Arsenal,Crystal Palace,2,1,H,1,1,J Moss,...,101521.73910,1.045652e+07,72.173913,73.5,71.714286,72.500000,71.500000,2.166304e+06,74.565217,26739.13043
1,E0,16/08/2014,Leicester,Everton,2,2,D,1,2,M Jones,...,16043.47826,1.227391e+06,76.782609,76.0,75.428571,77.444444,77.800000,5.538043e+06,79.478261,49565.21739
2,E0,16/08/2014,Man United,Swansea,1,2,A,0,1,M Dean,...,110608.69570,1.317196e+07,72.782609,74.0,71.222222,74.000000,73.400000,3.290217e+06,75.826087,31739.13043
3,E0,16/08/2014,QPR,Hull,0,1,A,0,0,C Pawson,...,36739.13043,3.221739e+06,72.347826,71.0,72.285714,72.900000,71.750000,2.581304e+06,74.869565,30434.78261
4,E0,16/08/2014,Stoke,Aston Villa,0,1,A,0,0,A Taylor,...,41086.95652,3.898913e+06,73.478261,76.0,72.555556,73.142857,74.600000,3.201087e+06,76.347826,35434.78261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,E0,14/03/2021,Southampton,Brighton,1,2,A,1,1,S Attwell,...,37434.78261,7.191304e+06,74.130435,73.5,74.285714,74.272727,73.666667,7.010870e+06,78.130435,40608.69565
282,E0,14/03/2021,Leicester,Sheffield United,5,0,H,1,0,P Bankes,...,69565.21739,1.353913e+07,73.739130,71.0,73.500000,77.250000,72.600000,6.139130e+06,77.130435,25521.73913
283,E0,14/03/2021,Arsenal,Tottenham,2,1,H,1,1,M Oliver,...,71043.47826,1.486196e+07,80.956522,81.0,80.000000,80.750000,85.500000,2.293478e+07,83.869565,97391.30435
284,E0,14/03/2021,Man United,West Ham,1,0,H,0,0,M Atkinson,...,107434.78260,2.204348e+07,76.217391,78.0,73.375000,77.363636,79.500000,9.440217e+06,79.304348,34782.60870
285,E0,15/03/2021,Wolves,Liverpool,0,1,A,0,1,C Pawson,...,54478.26087,9.577174e+06,82.086957,83.0,81.857143,83.285714,80.857143,3.407826e+07,85.521739,120739.13040

In [5]:
#final_dataset_home.to_csv(r'/Users/oran/Desktop/Project/fifa_results_final.csv')