In [127]:
import sqlite3 as sql
import pandas as pd
import numpy as np


results_database = 'results_data.db'
connection = sql.connect(results_database)

In [128]:
# FIFA15 and 2014/15 Season 
sql_query = '''

SELECT season2014_15.HomeTeam, season2014_15.AwayTeam, season2014_15.FTR ,season2014_15.FTHG, season2014_15.FTAG, season2014_15.HS, season2014_15.ASH,season2014_15.HST,season2014_15.AST, season2014_15.HF, season2014_15.AF, season2014_15.HC, season2014_15.AC, season2014_15.HY, season2014_15.AY, season2014_15.HR, season2014_15.AR, season2014_15.B365H, season2014_15.B365D, season2014_15.B365A ,player_ratings15.Total_Rating, player_ratings15.Team_Potential, player_ratings15.Team_Wage, player_ratings15.Team_Value
FROM season2014_15
INNER JOIN player_ratings15 ON season2014_15.HomeTeam=player_ratings15.Team;
'''
fifa_results_home = pd.read_sql_query(sql_query, connection)

sql_query = '''

SELECT season2014_15.HomeTeam, season2014_15.AwayTeam, season2014_15.FTR ,season2014_15.FTHG, season2014_15.FTAG, season2014_15.HS, season2014_15.ASH,season2014_15.HST,season2014_15.AST, season2014_15.HF, season2014_15.AF, season2014_15.HC, season2014_15.AC, season2014_15.HY, season2014_15.AY, season2014_15.HR, season2014_15.AR, season2014_15.B365H, season2014_15.B365D, season2014_15.B365A ,player_ratings15.Total_Rating, player_ratings15.Team_Potential, player_ratings15.Team_Wage, player_ratings15.Team_Value, player_ratings15.season  
FROM season2014_15
INNER JOIN player_ratings15 ON season2014_15.AwayTeam=player_ratings15.Team;
'''
fifa_results_away = pd.read_sql_query(sql_query, connection)

fifa_results_home.rename(columns = {'Total_Rating':'HTR', 'team_potential':'HTP',
                                   'team_wage':'HTW','team_value':'HTV'}, inplace = True) 

fifa_results_away.rename(columns = {'Total_Rating':'ATR', 'team_potential':'ATP',
                                   'team_wage':'ATW','team_value':'ATV'}, inplace = True) 

final_dataset_2014_15 = pd.merge(fifa_results_home, fifa_results_away)
final_dataset_2014_15

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,HS,ASH,HST,AST,HF,...,B365A,HTR,HTP,HTW,HTV,ATR,ATP,ATW,ATV,season
0,Arsenal,Crystal Palace,H,2,1,14,4,6,2,13,...,15.00,79.347826,82.000000,101521.739130,1.045652e+07,72.173913,74.565217,26739.130435,2.166304e+06,2014_15
1,Leicester,Everton,D,2,2,11,13,3,3,16,...,2.40,69.391304,72.608696,16043.478261,1.227391e+06,76.782609,79.478261,49565.217391,5.538043e+06,2014_15
2,Man United,Swansea,A,1,2,14,5,5,4,14,...,11.00,78.304348,82.347826,110608.695652,1.317196e+07,72.782609,75.826087,31739.130435,3.290217e+06,2014_15
3,QPR,Hull,A,0,1,19,11,6,4,10,...,3.10,74.217391,76.608696,36739.130435,3.221739e+06,72.347826,74.869565,30434.782609,2.581304e+06,2014_15
4,Stoke,Aston Villa,A,0,1,12,7,2,2,14,...,4.50,74.347826,75.826087,41086.956522,3.898913e+06,73.478261,76.347826,35434.782609,3.201087e+06,2014_15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Hull,Man United,D,0,0,16,7,6,1,12,...,2.25,72.347826,74.869565,30434.782609,2.581304e+06,78.304348,82.347826,110608.695652,1.317196e+07,2014_15
376,Leicester,QPR,H,5,1,22,18,7,2,7,...,6.00,69.391304,72.608696,16043.478261,1.227391e+06,74.217391,76.608696,36739.130435,3.221739e+06,2014_15
377,Man City,Southampton,H,2,0,15,13,6,4,13,...,6.00,80.391304,81.869565,121739.130435,1.361674e+07,73.130435,77.260870,34130.434783,3.678043e+06,2014_15
378,Newcastle,West Ham,H,2,0,17,4,4,1,9,...,4.33,73.130435,76.956522,36826.086957,3.314783e+06,73.565217,75.826087,36956.521739,3.223913e+06,2014_15
379,Stoke,Liverpool,H,6,1,15,13,9,4,13,...,2.15,74.347826,75.826087,41086.956522,3.898913e+06,78.173913,81.434783,76086.956522,7.517391e+06,2014_15

In [113]:
# FIFA16 and 2015/16 Season 
sql_query = '''

SELECT season2015_16.HomeTeam, season2015_16.AwayTeam, season2015_16.FTR ,season2015_16.FTHG, season2015_16.FTAG, season2015_16.HS, season2015_16.ASH,season2015_16.HST,season2015_16.AST, season2015_16.HF, season2015_16.AF, season2015_16.HC, season2015_16.AC, season2015_16.HY, season2015_16.AY, season2015_16.HR, season2015_16.AR, season2015_16.B365H, season2015_16.B365D, season2015_16.B365A , player_ratings16.Total_Rating, player_ratings16.Team_Potential, player_ratings16.Team_Wage, player_ratings16.Team_Value  
FROM season2015_16
INNER JOIN player_ratings16 ON season2015_16.HomeTeam=player_ratings16.Team;
'''
fifa_results_home = pd.read_sql_query(sql_query, connection)

sql_query = '''

SELECT season2015_16.HomeTeam, season2015_16.AwayTeam, season2015_16.FTR ,season2015_16.FTHG, season2015_16.FTAG, season2015_16.HS, season2015_16.ASH,season2015_16.HST,season2015_16.AST, season2015_16.HF, season2015_16.AF, season2015_16.HC, season2015_16.AC, season2015_16.HY, season2015_16.AY, season2015_16.HR, season2015_16.AR, season2015_16.B365H, season2015_16.B365D, season2015_16.B365A ,player_ratings16.Total_Rating, player_ratings16.Team_Potential, player_ratings16.Team_Wage, player_ratings16.Team_Value,player_ratings16.season  
FROM season2015_16
INNER JOIN player_ratings16 ON season2015_16.AwayTeam=player_ratings16.Team;
'''
fifa_results_away = pd.read_sql_query(sql_query, connection)

fifa_results_home.rename(columns = {'Total_Rating':'HTR', 'team_potential':'HTP',
                                   'team_wage':'HTW','team_value':'HTV'}, inplace = True) 

fifa_results_away.rename(columns = {'Total_Rating':'ATR', 'team_potential':'ATP',
                                   'team_wage':'ATW','team_value':'ATV'}, inplace = True) 

final_dataset_2015_16 = pd.merge(fifa_results_home, fifa_results_away)
final_dataset_2015_16

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,HS,ASH,HST,AST,HF,...,B365A,HTR,HTP,HTW,HTV,ATR,ATP,ATW,ATV,season
0,Bournemouth,Aston Villa,A,0,1,11,7,2,3,13,...,4.00,71.909091,74.772727,26636.363636,2.655682e+06,74.727273,77.818182,40909.090909,4.777273e+06,2015_16
1,Chelsea,Swansea,D,2,2,11,18,3,10,15,...,11.00,80.227273,83.500000,127227.272727,2.181432e+07,76.045455,78.000000,48818.181818,6.118182e+06,2015_16
2,Everton,Watford,D,2,2,10,11,5,5,7,...,5.50,76.952381,80.190476,50190.476190,8.539286e+06,73.454545,75.181818,35090.909091,3.404545e+06,2015_16
3,Leicester,Sunderland,H,4,2,19,10,8,5,13,...,4.33,73.217391,75.086957,32826.086957,3.265217e+06,75.000000,76.727273,42954.545455,4.518182e+06,2015_16
4,Man United,Tottenham,H,1,0,9,9,1,4,12,...,6.00,79.227273,82.681818,102136.363636,1.652045e+07,77.181818,81.954545,69545.454545,1.035455e+07,2015_16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Stoke,West Ham,H,2,1,7,20,4,7,8,...,2.15,76.086957,77.913043,46521.739130,6.234783e+06,75.666667,77.571429,50000.000000,5.842857e+06,2015_16
376,Swansea,Man City,D,1,1,4,18,1,5,4,...,1.53,76.045455,78.000000,48818.181818,6.118182e+06,80.636364,82.909091,121045.454545,1.897273e+07,2015_16
377,Watford,Sunderland,D,2,2,21,6,6,4,11,...,3.70,73.454545,75.181818,35090.909091,3.404545e+06,75.000000,76.727273,42954.545455,4.518182e+06,2015_16
378,West Brom,Liverpool,D,1,1,13,7,1,3,11,...,3.00,74.590909,76.363636,39818.181818,4.473864e+06,78.043478,81.695652,89478.260870,1.236957e+07,2015_16
379,Man United,Bournemouth,H,3,1,12,7,5,0,9,...,5.25,79.227273,82.681818,102136.363636,1.652045e+07,71.909091,74.772727,26636.363636,2.655682e+06,2015_16

In [114]:
# FIFA17 and 2016/17 Season 
sql_query = '''

SELECT season2016_17.HomeTeam, season2016_17.AwayTeam, season2016_17.FTR ,season2016_17.FTHG, season2016_17.FTAG, season2016_17.HS, season2016_17.ASH,season2016_17.HST,season2016_17.AST, season2016_17.HF, season2016_17.AF, season2016_17.HC, season2016_17.AC, season2016_17.HY, season2016_17.AY, season2016_17.HR, season2016_17.AR, season2016_17.B365H, season2016_17.B365D, season2016_17.B365A ,player_ratings17.Total_Rating, player_ratings17.Team_Potential, player_ratings17.Team_Wage, player_ratings17.Team_Value  
FROM season2016_17
INNER JOIN player_ratings17 ON season2016_17.HomeTeam=player_ratings17.Team;
'''
fifa_results_home = pd.read_sql_query(sql_query, connection)

sql_query = '''

SELECT season2016_17.HomeTeam, season2016_17.AwayTeam, season2016_17.FTR ,season2016_17.FTHG, season2016_17.FTAG, season2016_17.HS, season2016_17.ASH,season2016_17.HST,season2016_17.AST, season2016_17.HF, season2016_17.AF, season2016_17.HC, season2016_17.AC, season2016_17.HY, season2016_17.AY, season2016_17.HR, season2016_17.AR, season2016_17.B365H, season2016_17.B365D, season2016_17.B365A ,player_ratings17.Total_Rating, player_ratings17.Team_Potential, player_ratings17.Team_Wage, player_ratings17.Team_Value,player_ratings17.season    
FROM season2016_17
INNER JOIN player_ratings17 ON season2016_17.AwayTeam=player_ratings17.Team;
'''
fifa_results_away = pd.read_sql_query(sql_query, connection)

fifa_results_home.rename(columns = {'Total_Rating':'HTR', 'team_potential':'HTP',
                                   'team_wage':'HTW','team_value':'HTV'}, inplace = True) 

fifa_results_away.rename(columns = {'Total_Rating':'ATR', 'team_potential':'ATP',
                                   'team_wage':'ATW','team_value':'ATV'}, inplace = True) 

final_dataset_2016_17 = pd.merge(fifa_results_home, fifa_results_away)
final_dataset_2016_17

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,HS,ASH,HST,AST,HF,...,B365A,HTR,HTP,HTW,HTV,ATR,ATP,ATW,ATV,season
0,Burnley,Swansea,A,0,1,10,17,3,9,10,...,3.25,71.521739,74.826087,26826.086957,2.688043e+06,75.086957,78.217391,56652.173913,6.563043e+06,2016_17
1,Crystal Palace,West Brom,A,0,1,14,13,4,3,12,...,4.50,76.434783,77.347826,61739.130435,7.086957e+06,73.217391,75.826087,33130.434783,4.513043e+06,2016_17
2,Everton,Tottenham,D,1,1,12,13,6,4,10,...,2.40,77.565217,80.782609,78478.260870,1.084674e+07,79.043478,83.478261,85000.000000,1.657500e+07,2016_17
3,Hull,Leicester,H,2,1,14,18,5,5,8,...,1.91,73.608696,75.521739,29782.608696,3.547826e+06,76.913043,79.695652,60000.000000,9.530435e+06,2016_17
4,Man City,Sunderland,H,2,1,16,7,4,3,11,...,15.00,81.304348,84.000000,144782.608696,2.073043e+07,74.260870,79.043478,31869.565217,5.017391e+06,2016_17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Middlesbrough,H,3,0,25,9,10,3,13,...,23.00,79.347826,82.956522,98695.652174,1.604348e+07,74.000000,76.913043,28260.869565,4.428261e+06,2016_17
376,Man United,Crystal Palace,H,2,0,9,6,2,1,16,...,3.10,82.043478,84.739130,134565.217391,2.304348e+07,76.434783,77.347826,61739.130435,7.086957e+06,2016_17
377,Southampton,Stoke,A,0,1,14,14,6,3,12,...,4.75,75.478261,79.260870,54130.434783,6.875000e+06,77.652174,79.521739,63913.043478,9.578261e+06,2016_17
378,Swansea,West Brom,H,2,1,12,16,2,5,8,...,3.75,75.086957,78.217391,56652.173913,6.563043e+06,73.217391,75.826087,33130.434783,4.513043e+06,2016_17
379,Watford,Man City,A,0,5,6,15,3,9,12,...,1.30,75.043478,76.869565,44130.434783,5.575000e+06,81.304348,84.000000,144782.608696,2.073043e+07,2016_17

In [120]:
# FIFA18 and 2017/18 Season 
sql_query = '''

SELECT season2017_18.HomeTeam, season2017_18.AwayTeam, season2017_18.FTR ,season2017_18.FTHG, season2017_18.FTAG, season2017_18.HS, season2017_18.ASH,season2017_18.HST,season2017_18.AST, season2017_18.HF, season2017_18.AF, season2017_18.HC, season2017_18.AC, season2017_18.HY, season2017_18.AY, season2017_18.HR, season2017_18.AR, season2017_18.B365H, season2017_18.B365D, season2017_18.B365A ,player_ratings18.Total_Rating, player_ratings18.Team_Potential, player_ratings18.Team_Wage, player_ratings18.Team_Value  
FROM season2017_18
INNER JOIN player_ratings18 ON season2017_18.HomeTeam=player_ratings18.Team;
'''
fifa_results_home = pd.read_sql_query(sql_query, connection)

sql_query = '''

SELECT season2017_18.HomeTeam, season2017_18.AwayTeam, season2017_18.FTR ,season2017_18.FTHG, season2017_18.FTAG, season2017_18.HS, season2017_18.ASH,season2017_18.HST,season2017_18.AST, season2017_18.HF, season2017_18.AF, season2017_18.HC, season2017_18.AC, season2017_18.HY, season2017_18.AY, season2017_18.HR, season2017_18.AR, season2017_18.B365H, season2017_18.B365D, season2017_18.B365A ,player_ratings18.Total_Rating, player_ratings18.Team_Potential, player_ratings18.Team_Wage, player_ratings18.Team_Value, player_ratings18.season  
FROM season2017_18
INNER JOIN player_ratings18 ON season2017_18.AwayTeam=player_ratings18.Team;
'''
fifa_results_away = pd.read_sql_query(sql_query, connection)

fifa_results_home.rename(columns = {'Total_Rating':'HTR', 'team_potential':'HTP',
                                   'team_wage':'HTW','team_value':'HTV'}, inplace = True) 

fifa_results_away.rename(columns = {'Total_Rating':'ATR', 'team_potential':'ATP',
                                   'team_wage':'ATW','team_value':'ATV'}, inplace = True) 

final_dataset_2017_18 = pd.merge(fifa_results_home, fifa_results_away)
final_dataset_2017_18

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,HS,ASH,HST,AST,HF,...,B365A,HTR,HTP,HTW,HTV,ATR,ATP,ATW,ATV,season
0,Arsenal,Leicester,H,4,3,27,6,10,3,9,...,6.50,80.608696,83.434783,118478.260870,2.132609e+07,76.565217,79.217391,59565.217391,9.752174e+06,2017_18
1,Brighton,Man City,A,0,2,6,14,2,4,6,...,1.33,73.347826,75.217391,38260.869565,4.868478e+06,80.565217,85.478261,131956.521739,2.495217e+07,2017_18
2,Chelsea,Burnley,A,2,3,19,10,6,5,16,...,15.00,82.173913,84.869565,143260.869565,2.850870e+07,74.000000,75.782609,45000.000000,5.633696e+06,2017_18
3,Crystal Palace,Huddersfield,A,0,3,14,8,4,6,7,...,5.00,74.347826,77.347826,41478.260870,7.211304e+06,71.000000,74.521739,30565.217391,3.721739e+06,2017_18
4,Everton,Stoke,H,1,0,9,9,4,1,13,...,5.75,77.434783,82.000000,85869.565217,1.282065e+07,74.695652,78.782609,54217.391304,8.406522e+06,2017_18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Newcastle,Chelsea,H,3,0,16,6,6,2,11,...,1.60,74.086957,78.434783,49565.217391,6.595652e+06,82.173913,84.869565,143260.869565,2.850870e+07,2017_18
376,Southampton,Man City,A,0,1,8,13,3,2,8,...,1.39,75.652174,79.869565,66521.739130,9.651739e+06,80.565217,85.478261,131956.521739,2.495217e+07,2017_18
377,Swansea,Stoke,A,1,2,26,8,11,5,12,...,4.20,74.739130,77.826087,53217.391304,6.760870e+06,74.695652,78.782609,54217.391304,8.406522e+06,2017_18
378,Tottenham,Leicester,H,5,4,14,16,6,9,9,...,9.00,80.260870,84.130435,94347.826087,2.266957e+07,76.565217,79.217391,59565.217391,9.752174e+06,2017_18
379,West Ham,Everton,H,3,1,15,14,4,7,10,...,3.00,75.913043,78.956522,82217.391304,9.643043e+06,77.434783,82.000000,85869.565217,1.282065e+07,2017_18

In [121]:
# FIFA19 and 2018/19 Season 
sql_query = '''

SELECT season2018_19.HomeTeam, season2018_19.AwayTeam, season2018_19.FTR ,season2018_19.FTHG, season2018_19.FTAG, season2018_19.HS, season2018_19.ASH,season2018_19.HST,season2018_19.AST, season2018_19.HF, season2018_19.AF, season2018_19.HC, season2018_19.AC, season2018_19.HY, season2018_19.AY, season2018_19.HR, season2018_19.AR, season2018_19.B365H, season2018_19.B365D, season2018_19.B365A ,player_ratings19.Total_Rating, player_ratings19.Team_Potential, player_ratings19.Team_Wage, player_ratings19.Team_Value  
FROM season2018_19
INNER JOIN player_ratings19 ON season2018_19.AwayTeam=player_ratings19.Team;
'''
fifa_results_home = pd.read_sql_query(sql_query, connection)

sql_query = '''

SELECT season2018_19.HomeTeam, season2018_19.AwayTeam, season2018_19.FTR ,season2018_19.FTHG, season2018_19.FTAG, season2018_19.HS, season2018_19.ASH,season2018_19.HST,season2018_19.AST, season2018_19.HF, season2018_19.AF, season2018_19.HC, season2018_19.AC, season2018_19.HY, season2018_19.AY, season2018_19.HR, season2018_19.AR, season2018_19.B365H, season2018_19.B365D, season2018_19.B365A ,player_ratings19.Total_Rating, player_ratings19.Team_Potential, player_ratings19.Team_Wage, player_ratings19.Team_Value, player_ratings19.season 
FROM season2018_19
INNER JOIN player_ratings19 ON season2018_19.AwayTeam=player_ratings19.Team;
'''
fifa_results_away = pd.read_sql_query(sql_query, connection)

fifa_results_home.rename(columns = {'Total_Rating':'HTR', 'team_potential':'HTP',
                                   'team_wage':'HTW','team_value':'HTV'}, inplace = True) 

fifa_results_away.rename(columns = {'Total_Rating':'ATR', 'team_potential':'ATP',
                                   'team_wage':'ATW','team_value':'ATV'}, inplace = True) 

final_dataset_2018_19 = pd.merge(fifa_results_home, fifa_results_away)
final_dataset_2018_19

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,HS,ASH,HST,AST,HF,...,B365A,HTR,HTP,HTW,HTV,ATR,ATP,ATW,ATV,season
0,Man United,Leicester,H,2,1,8,13,6,4,11,...,7.50,76.869565,79.956522,54782.608696,1.005217e+07,76.869565,79.956522,54782.608696,1.005217e+07,2018_19
1,Bournemouth,Cardiff,H,2,0,12,10,4,1,11,...,4.50,72.000000,74.000000,30217.391304,3.705435e+06,72.000000,74.000000,30217.391304,3.705435e+06,2018_19
2,Fulham,Crystal Palace,A,0,2,15,10,6,9,9,...,3.00,75.695652,77.826087,44565.217391,8.126087e+06,75.695652,77.826087,44565.217391,8.126087e+06,2018_19
3,Huddersfield,Chelsea,A,0,3,6,13,1,4,9,...,1.61,81.565217,84.391304,125652.173913,2.564348e+07,81.565217,84.391304,125652.173913,2.564348e+07,2018_19
4,Newcastle,Tottenham,A,1,2,15,15,2,5,11,...,2.04,81.043478,84.043478,101739.130435,2.540435e+07,81.043478,84.043478,101739.130435,2.540435e+07,2018_19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Liverpool,Wolves,H,2,0,13,7,5,2,3,...,11.00,73.608696,79.217391,43652.173913,7.445652e+06,73.608696,79.217391,43652.173913,7.445652e+06,2018_19
376,Man United,Cardiff,A,0,2,26,13,10,4,9,...,11.00,72.000000,74.000000,30217.391304,3.705435e+06,72.000000,74.000000,30217.391304,3.705435e+06,2018_19
377,Southampton,Huddersfield,D,1,1,10,10,3,3,8,...,8.50,73.347826,76.521739,33130.434783,5.745652e+06,73.347826,76.521739,33130.434783,5.745652e+06,2018_19
378,Tottenham,Everton,D,2,2,11,17,3,9,10,...,3.50,77.913043,81.260870,78260.869565,1.178913e+07,77.913043,81.260870,78260.869565,1.178913e+07,2018_19
379,Watford,West Ham,A,1,4,17,16,8,9,10,...,3.20,77.608696,79.782609,71304.347826,1.079565e+07,77.608696,79.782609,71304.347826,1.079565e+07,2018_19

In [122]:
# FIFA20 and 2019/20 Season 
sql_query = '''

SELECT season2019_20.HomeTeam, season2019_20.AwayTeam, season2019_20.FTR ,season2019_20.FTHG, season2019_20.FTAG, season2019_20.HS, season2019_20.ASH,season2019_20.HST,season2019_20.AST, season2019_20.HF, season2019_20.AF, season2019_20.HC, season2019_20.AC, season2019_20.HY, season2019_20.AY, season2019_20.HR, season2019_20.AR, season2019_20.B365H, season2019_20.B365D, season2019_20.B365A ,player_ratings20.Total_Rating, player_ratings20.Team_Potential, player_ratings20.Team_Wage, player_ratings20.Team_Value  
FROM season2019_20
INNER JOIN player_ratings20 ON season2019_20.AwayTeam=player_ratings20.Team;
'''
fifa_results_home = pd.read_sql_query(sql_query, connection)

sql_query = '''

SELECT season2019_20.HomeTeam, season2019_20.AwayTeam, season2019_20.FTR ,season2019_20.FTHG, season2019_20.FTAG, season2019_20.HS, season2019_20.ASH,season2019_20.HST,season2019_20.AST, season2019_20.HF, season2019_20.AF, season2019_20.HC, season2019_20.AC, season2019_20.HY, season2019_20.AY, season2019_20.HR, season2019_20.AR, season2019_20.B365H, season2019_20.B365D, season2019_20.B365A ,player_ratings20.Total_Rating, player_ratings20.Team_Potential, player_ratings20.Team_Wage, player_ratings20.Team_Value, player_ratings20.season  
FROM season2019_20
INNER JOIN player_ratings20 ON season2019_20.AwayTeam=player_ratings20.Team;
'''
fifa_results_away = pd.read_sql_query(sql_query, connection)

fifa_results_home.rename(columns = {'Total_Rating':'HTR', 'team_potential':'HTP',
                                   'team_wage':'HTW','team_value':'HTV'}, inplace = True) 

fifa_results_away.rename(columns = {'Total_Rating':'ATR', 'team_potential':'ATP',
                                   'team_wage':'ATW','team_value':'ATV'}, inplace = True) 

final_dataset_2019_20 = pd.merge(fifa_results_home, fifa_results_away)
final_dataset_2019_20

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,HS,ASH,HST,AST,HF,...,B365A,HTR,HTP,HTW,HTV,ATR,ATP,ATW,ATV,season
0,Liverpool,Norwich,H,4,1,15,12,7,5,9,...,19.00,73.043478,76.391304,32173.913043,4.956522e+06,73.043478,76.391304,32173.913043,4.956522e+06,2019_20
1,West Ham,Man City,A,0,5,5,14,3,9,6,...,1.22,83.652174,87.086957,167391.304348,3.647826e+07,83.652174,87.086957,167391.304348,3.647826e+07,2019_20
2,Bournemouth,Sheffield United,D,1,1,13,8,3,3,10,...,3.60,71.956522,74.739130,22391.304348,3.963043e+06,71.956522,74.739130,22391.304348,3.963043e+06,2019_20
3,Burnley,Southampton,H,3,0,10,11,4,3,6,...,2.75,75.086957,79.260870,40521.739130,8.203261e+06,75.086957,79.260870,40521.739130,8.203261e+06,2019_20
4,Crystal Palace,Everton,D,0,0,6,10,2,3,16,...,2.37,78.000000,80.913043,70869.565217,1.290435e+07,78.000000,80.913043,70869.565217,1.290435e+07,2019_20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Leicester,Man United,A,0,2,14,7,3,3,12,...,2.20,79.739130,83.652174,106826.086957,2.004348e+07,79.739130,83.652174,106826.086957,2.004348e+07,2019_20
376,Man City,Norwich,H,5,0,31,5,10,4,7,...,26.00,73.043478,76.391304,32173.913043,4.956522e+06,73.043478,76.391304,32173.913043,4.956522e+06,2019_20
377,Newcastle,Liverpool,A,1,3,3,14,2,6,11,...,1.36,81.347826,84.782609,109173.913043,2.962500e+07,81.347826,84.782609,109173.913043,2.962500e+07,2019_20
378,Southampton,Sheffield United,H,3,1,13,5,4,3,9,...,3.30,71.956522,74.739130,22391.304348,3.963043e+06,71.956522,74.739130,22391.304348,3.963043e+06,2019_20
379,West Ham,Aston Villa,D,1,1,10,13,1,4,16,...,2.30,73.782609,77.652174,38478.260870,6.408696e+06,73.782609,77.652174,38478.260870,6.408696e+06,2019_20

In [123]:
# FIFA21 and 2020/21 Season 
sql_query = '''

SELECT season2020_21.HomeTeam, season2020_21.AwayTeam, season2020_21.FTR ,season2020_21.FTHG, season2020_21.FTAG, season2020_21.HS, season2020_21.ASH,season2020_21.HST,season2020_21.AST, season2020_21.HF, season2020_21.AF, season2020_21.HC, season2020_21.AC, season2020_21.HY, season2020_21.AY, season2020_21.HR, season2020_21.AR, season2020_21.B365H, season2020_21.B365D, season2020_21.B365A ,player_ratings21.Total_Rating, player_ratings21.Team_Potential, player_ratings21.Team_Wage, player_ratings21.Team_Value  
FROM season2020_21
INNER JOIN player_ratings21 ON season2020_21.AwayTeam=player_ratings21.Team;
'''
fifa_results_home = pd.read_sql_query(sql_query, connection)

sql_query = '''

SELECT season2020_21.HomeTeam, season2020_21.AwayTeam, season2020_21.FTR ,season2020_21.FTHG, season2020_21.FTAG, season2020_21.HS, season2020_21.ASH,season2020_21.HST,season2020_21.AST, season2020_21.HF, season2020_21.AF, season2020_21.HC, season2020_21.AC, season2020_21.HY, season2020_21.AY, season2020_21.HR, season2020_21.AR, season2020_21.B365H, season2020_21.B365D, season2020_21.B365A ,player_ratings21.Total_Rating, player_ratings21.Team_Potential, player_ratings21.Team_Wage, player_ratings21.Team_Value, player_ratings21.season  
FROM season2020_21
INNER JOIN player_ratings21 ON season2020_21.AwayTeam=player_ratings21.Team;
'''
fifa_results_away = pd.read_sql_query(sql_query, connection)

fifa_results_home.rename(columns = {'Total_Rating':'HTR', 'team_potential':'HTP',
                                   'team_wage':'HTW','team_value':'HTV'}, inplace = True) 

fifa_results_away.rename(columns = {'Total_Rating':'ATR', 'team_potential':'ATP',
                                   'team_wage':'ATW','team_value':'ATV'}, inplace = True) 

final_dataset_2020_21 = pd.merge(fifa_results_home, fifa_results_away)
final_dataset_2020_21

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,HS,ASH,HST,AST,HF,...,B365A,HTR,HTP,HTW,HTV,ATR,ATP,ATW,ATV,season
0,Fulham,Arsenal,A,0,3,5,13,2,6,12,...,1.53,77.913043,82.304348,71043.478261,1.486196e+07,77.913043,82.304348,71043.478261,1.486196e+07,2020-21
1,Crystal Palace,Southampton,H,1,0,5,9,3,5,14,...,2.37,73.913043,78.739130,37434.782609,7.191304e+06,73.913043,78.739130,37434.782609,7.191304e+06,2020-21
2,Liverpool,Leeds,H,4,3,22,6,6,3,9,...,9.50,70.826087,76.608696,48086.956522,4.205435e+06,70.826087,76.608696,48086.956522,4.205435e+06,2020-21
3,West Ham,Newcastle,A,0,2,15,15,3,2,13,...,3.40,76.217391,79.043478,36130.434783,9.039130e+06,76.217391,79.043478,36130.434783,9.039130e+06,2020-21
4,West Brom,Leicester,A,0,3,7,13,1,7,12,...,1.95,77.347826,80.739130,69565.217391,1.353913e+07,77.347826,80.739130,69565.217391,1.353913e+07,2020-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Wolves,Liverpool,A,0,1,10,12,5,4,17,...,1.72,82.086957,85.521739,120739.130435,3.407826e+07,82.086957,85.521739,120739.130435,3.407826e+07,2020-21
286,Fulham,Leeds,A,1,2,13,13,6,4,13,...,3.00,70.826087,76.608696,48086.956522,4.205435e+06,70.826087,76.608696,48086.956522,4.205435e+06,2020-21
287,Brighton,Newcastle,H,3,0,11,3,6,1,12,...,6.00,76.217391,79.043478,36130.434783,9.039130e+06,76.217391,79.043478,36130.434783,9.039130e+06,2020-21
288,West Ham,Arsenal,D,3,3,15,16,5,7,18,...,2.45,77.913043,82.304348,71043.478261,1.486196e+07,77.913043,82.304348,71043.478261,1.486196e+07,2020-21
289,Aston Villa,Tottenham,A,0,2,8,9,1,3,18,...,2.45,80.956522,83.869565,97391.304348,2.293478e+07,80.956522,83.869565,97391.304348,2.293478e+07,2020-21

In [126]:
# concatanate all dataframe 

final_dataset = pd.concat([final_dataset_2014_15,final_dataset_2015_16,final_dataset_2016_17,final_dataset_2017_18,final_dataset_2018_19,final_dataset_2019_20,final_dataset_2020_21])
final_dataset.to_csv(r'/Users/oran/Desktop/Project/fifa_results_final.csv')
final_dataset

,HomeTeam,AwayTeam,FTR,FTHG,FTAG,HS,ASH,HST,AST,HF,...,B365A,HTR,HTP,HTW,HTV,ATR,ATP,ATW,ATV,season
0,Arsenal,Crystal Palace,H,2,1,14,4,6,2,13,...,15.00,79.347826,82.000000,101521.739130,1.045652e+07,72.173913,74.565217,26739.130435,2.166304e+06,2014_15
1,Leicester,Everton,D,2,2,11,13,3,3,16,...,2.40,69.391304,72.608696,16043.478261,1.227391e+06,76.782609,79.478261,49565.217391,5.538043e+06,2014_15
2,Man United,Swansea,A,1,2,14,5,5,4,14,...,11.00,78.304348,82.347826,110608.695652,1.317196e+07,72.782609,75.826087,31739.130435,3.290217e+06,2014_15
3,QPR,Hull,A,0,1,19,11,6,4,10,...,3.10,74.217391,76.608696,36739.130435,3.221739e+06,72.347826,74.869565,30434.782609,2.581304e+06,2014_15
4,Stoke,Aston Villa,A,0,1,12,7,2,2,14,...,4.50,74.347826,75.826087,41086.956522,3.898913e+06,73.478261,76.347826,35434.782609,3.201087e+06,2014_15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Wolves,Liverpool,A,0,1,10,12,5,4,17,...,1.72,82.086957,85.521739,120739.130435,3.407826e+07,82.086957,85.521739,120739.130435,3.407826e+07,2020-21
286,Fulham,Leeds,A,1,2,13,13,6,4,13,...,3.00,70.826087,76.608696,48086.956522,4.205435e+06,70.826087,76.608696,48086.956522,4.205435e+06,2020-21
287,Brighton,Newcastle,H,3,0,11,3,6,1,12,...,6.00,76.217391,79.043478,36130.434783,9.039130e+06,76.217391,79.043478,36130.434783,9.039130e+06,2020-21
288,West Ham,Arsenal,D,3,3,15,16,5,7,18,...,2.45,77.913043,82.304348,71043.478261,1.486196e+07,77.913043,82.304348,71043.478261,1.486196e+07,2020-21
289,Aston Villa,Tottenham,A,0,2,8,9,1,3,18,...,2.45,80.956522,83.869565,97391.304348,2.293478e+07,80.956522,83.869565,97391.304348,2.293478e+07,2020-21