In [2]:
import sqlite3 as sql
import pandas as pd
import numpy as np

In [3]:
results_database = 'results_data.db'
connection = sql.connect(results_database)
sql_query1 = '''SELECT * FROM results_data_final'''
sql_query2 = '''SELECT * FROM fifa_data'''
results_data_final = pd.read_sql_query(sql_query1,connection)
fifa_data_final = pd.read_sql_query(sql_query2,connection)

In [4]:
# SQL INNER JOIN to join results table and FIFA table
# Joins all the home team rating, value, potential, and wages. 

sql_query = '''

SELECT results_data_final.FTR, results_data_final.ID, results_data_final.HomeTeam, results_data_final.AwayTeam, results_data_final.FTHG, results_data_final.FTAG,results_data_final.season, results_data_final.Hshot, results_data_final.Ashot,results_data_final.HST,results_data_final.AST, results_data_final.HF, results_data_final.AF, results_data_final.HC, results_data_final.AC, results_data_final.HY, results_data_final.AY, results_data_final.HR, results_data_final.AR, results_data_final.B365H, results_data_final.B365D, results_data_final.B365A ,fifa_data.Total_Rating, fifa_data.Team_Potential, fifa_data.Team_Wage, fifa_data.Team_Value  
FROM results_data_final
INNER JOIN fifa_data ON results_data_final.HomeTeam=fifa_data.Team;
'''
# call the SQL query 
fifa_results_home = pd.read_sql_query(sql_query, connection)
fifa_results_home

sql_query = '''
SELECT results_data_final.ID, fifa_data.Total_Rating, fifa_data.Team_Potential, fifa_data.Team_Wage, fifa_data.Team_Value  
FROM results_data_final
INNER JOIN fifa_data ON results_data_final.AwayTeam=fifa_data.Team;
'''
fifa_results_away = pd.read_sql_query(sql_query, connection)
fifa_results_home

fifa_results_home.rename(columns = {'Total_Rating':'HTR', 'Team_Potential':'HTP',
                                   'Team_Wage':'HTW','Team_Value':'HTV'}, inplace = True) 

fifa_results_away.rename(columns = {'Total_Rating':'ATR', 'Team_Potential':'ATP',
                                   'Team_Wage':'ATW','Team_Value':'ATV'}, inplace = True) 

fifa_results_away

final_dataset = pd.merge(fifa_results_home, fifa_results_away)

final_dataset.to_csv(r'/Users/oran/Desktop/fifa_results_final.csv')
final_dataset

,FTR,ID,HomeTeam,AwayTeam,FTHG,FTAG,Season,Hshot,Ashot,HST,...,B365D,B365A,HTR,HTP,HTW,HTV,ATR,ATP,ATW,ATV
0,H,1,Arsenal,Leicester City,4,3,2017/18,27,6,10,...,4.50,6.50,80.8125,83.1875,62000.000000,1.264545e+07,79.9375,82.3125,60030.303030,1.046273e+07
1,A,2,Brighton & Hove Albion,Manchester City,0,2,2017/18,6,14,2,...,5.50,1.33,76.1875,78.9375,32363.636364,5.399242e+06,85.0000,87.1875,114090.909091,2.264470e+07
2,A,3,Chelsea,Burnley,2,3,2017/18,19,10,6,...,6.50,15.00,82.6875,85.5625,81757.575758,1.825076e+07,76.8125,77.5000,30866.666667,5.014333e+06
3,H,9,Manchester United,West Ham United,4,0,2017/18,22,9,6,...,5.75,12.00,82.2500,85.3125,89393.939394,1.709485e+07,78.3125,80.5625,25757.575758,6.689242e+06
4,A,12,Burnley,West Bromwich Albion,0,1,2017/18,20,8,0,...,3.20,3.00,76.8125,77.5000,30866.666667,5.014333e+06,73.6250,75.8125,36281.250000,2.804844e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,A,1407,Sheffield United,Southampton,0,2,2020/21,8,15,2,...,3.50,2.00,75.8750,78.7500,20451.612903,4.687258e+06,76.5000,79.0625,30939.393939,5.550758e+06
796,A,1411,Liverpool,Fulham,0,1,2020/21,16,10,3,...,5.00,8.50,85.7500,87.4375,95575.757576,2.547348e+07,75.3125,78.5000,48969.696970,4.505303e+06
797,H,1414,Chelsea,Everton,2,0,2020/21,19,7,9,...,4.00,6.50,82.6875,85.5625,81757.575758,1.825076e+07,79.4375,81.6250,56727.272727,9.726515e+06
798,D,1418,Leeds,Chelsea,0,0,2020/21,7,15,4,...,4.00,1.70,73.7500,75.8750,36742.424242,3.087879e+06,82.6875,85.5625,81757.575758,1.825076e+07
799,A,1420,Everton,Burnley,1,2,2020/21,14,14,4,...,3.50,4.50,79.4375,81.6250,56727.272727,9.726515e+06,76.8125,77.5000,30866.666667,5.014333e+06